@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}

:root {
  --primary-color: #2F3035;
  --primary-bg: #1c62cd;
  --secondary-bg: #f0f0f4;
}

body {
  color: var(--primary-color);
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}

.section-page {
  margin-bottom: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.price {
  position: relative;
  font-family: 'Barlow', sans-serif;
  padding-right: 20px;
}
.price::after {
  content: '₽';
  position: absolute;
  top: 0;
  right: 0;
}

/* General Tabs */
.tab__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tabs__item {
  display: none;
}
.tabs__item.tabs__item--active {
  display: block;
}

/* Header */
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*min-height: 122px;*/
  padding-right: 15px;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}
.menu__list {
  display: flex;
  gap: 50px;
}
.menu__link {
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.menu__link:hover {
  border-bottom: 1px solid var(--primary-color);
}

.header__user {
  display: flex;
  gap: 50px;
}
.header__adress {
  position: relative;
  padding-left: 30px; /* Needs for left location icon */
}
.header__adress::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../icons/location-icon.svg);
  background-size: cover;
}
.user__list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user__img {
  width: 24px;
  height: 24px;
}
.basket {
  position: relative;
}
.basket__num {
  position: absolute;
  right: -13px;
  bottom: -5px;
  min-width: 20px;
  height: 20px;
  padding: 2px;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-bg);
  color: #fff;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: var(--secondary-bg);
}
.menu-categories__link {
  display: block;
  padding: 15px 0;
  border-bottom: 3px solid transparent;
  transition: border 0.3s;
}
.menu-categories__link:hover {
  font-weight: 600;
  border-bottom: 3px solid var(--primary-bg);
}


 /* Slider section */
.slider-section__inner {
  display: flex;
  justify-content: space-between;
  /*padding: 80px 0;*/
}
.slider {
  width: 870px;
}
.slider__img {
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
}
.slider__btn-prev {
  left: 15px;
}
.slider__btn-next {
  right: 15px;
}
.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.slick-dots button {
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}
li.slick-active button {
  background-color: #fff;
}

.sale-item {
  min-width: 260px;
  max-width: 265px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.sale-item__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale-item__type {
  width: 90px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--primary-bg);
  color: #fff;
}
.sale-item__price {
  padding: 7px 7px 0 7px;
}
.sale-item__price-new {
  font-weight: 700;
  font-size: 27px;
  color: var(--primary-bg);
}
.sale-item__price-old {
  padding-right: 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: #c4c4c4;
}
.sale-item__price-old::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 1px;
  left: 37%;
  bottom: 5px;
  background-color: #c4c4c4;
  transform: rotate(350deg);
  transform-origin: 0 0;
}
.sale-item__price-old::after {
  top: 1px;
  right: -5px;
}
.sale-item__img {
  object-fit: contain;
}
.sale-item__title {
  padding: 0 40px;
  text-align: center;
  font-size: 18px;
}
.sale-item__footer {
  width: 100%;
  height: 99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
  font-size: 18px;
}
.sale-item__action {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: var(--primary-bg);
}

/* Search section */
.search__tab-btns {
  margin-bottom: 25px;
}
.search__tab-btn {
  padding: 11px 26px;
}
.search__tab-btn.tab__btn--active {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  font-weight: 700;
}

.search__content-form {
  display: flex;
}
.search__content-input {
  flex-grow: 1;
  padding: 15px 20px;
  background-color: var(--secondary-bg);
  border: none;
}
.search__content-input::placeholder {
  font-size: 16px;
  color: #656464;
}
.search__content-btn {
  margin-left: -3px;
  padding: 15px 41px;
  background-color: var(--primary-bg);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing:2px;
  text-transform: uppercase;
}

/* Categories */
.categories__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.categories__item {
  width: 370px;
  padding: 20px 20px 14px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
}
.categories__item:hover {
  box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
}
.categories__item:hover .categories__title {
  color: var(--primary-bg);
}
.categories__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories__text {
  font-size: 14px;
  color: #c4c4c4;
}
.categories__text::after {
  content: ' >';
}
.categories__img {
  width: 50%;
  text-align: center;
}
.categories__img img {
  max-width: 100%;
}

/* Products */
