@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --accent: #D30531;
  --link: #004685;
  --link-active: #569DDC;
  --link-underline: #468575;
  --placeholder: #00000075;
  --section-hr: #00468533;
  --text: #000000;
  --index: calc(1vw + 1vh);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--link-active);
}

.container {
  min-width: 320px;
  max-width: 799px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header section */
.header {
  position: sticky;
  top: 0;
  padding: 9px 0;
  background-color: #fff;
  box-shadow: 0px 1px 5px #ccc;
  z-index: 100;
}
.logo__img {
  max-width: 60%;
}
.help-icon {
  display: none;
}

/* Search section */
.search {
  padding: 40px 0;
  background-image: url('../img/pic_main.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.search__title  {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}
.search__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 12px;
  background: #fff;
  border: 2px solid var(--link);
  border-radius: 4px;
}
.search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}
.search__img {
  width: 20px;
  height: 20px;
}
.search__form-btn {
  display: none;
}
.search__description {
  color: #fff;
  font-size: 12px;
}

/* Service section */
.service {
  padding: 30px 0;
}
.service__desktop-title {
  display: none;
}
.service__title {
  margin-bottom: 17px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.service__item {
  border-bottom: 1px solid var(--section-hr);
}
.service__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  cursor: pointer;
}
.service__item-header-start {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.service__item-title {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--link);
}
.service__item-title::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 90%;
  height: 1px;
  background-color: var(--link);
}
.service__item-title:hover {
  color: var(--link-active);
}
.service__item-header-start:hover .service__item-title::after {
  background-color: var(--link-active);
}

.service__arrow {
  transition: 0.3s;
}
.service__arrow--opened {
  transform: rotate(180deg);
}

.service__item-body {
  display: none;
}
.service__item-body--active {
  display: block;
}

.service__item-text {
  padding: 6px 0 20px;
  font-size: 16px;
}
.service__item-head {
  text-transform: uppercase;
  color: var(--accent);
}

.service__item-img {
  display: none;
}

/* Partners section */
.partners {
  padding: 27px 0 33px;
}
.partners__title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 27px;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partners__item {
  /* width: 50%; */
  flex-basis: 50%;
  margin-bottom: 33px;
  text-align: center;
}

/* Footer section */
.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: var(--section-hr);
  color: #999;
  text-align: center;
  font-size: 16px;
}

.footer__link  {
  text-decoration: none;
  color: var(--link-active);
  transition: 0.3s;
}
.footer__link:hover {
  color: var(--accent);
}

/* Modal section */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 48px;
  color: #999;
  cursor: pointer;
  user-select: none;
}
.modal__title {
  margin: 24px 0 33px;
  font-weight: normal;
  font-size: 16px;
}
.modal__input {
  padding: 20px 25px;
  font-size: 16px;
}
.modal__btn {
  padding: 20px 25px;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}
.modal__link {
  display: block;
  margin-bottom: 15px;
}
.modal__show {
  visibility: visible;
  opacity: 1;
}



/* Desktop  */
@media (min-width: 800px) {
  .container {
    max-width: 960px;
  }

  /* Header */
  .header {
    padding: 12px 0;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo__img {
    max-width: 300px;
  }
  .help-icon {
    display: block;
    position: absolute;
    right:12px;
    top: 12px;
    width: 40px;
    cursor: pointer;
  }

  /* Search section */
  .search {
    padding: 90px 0 113px;
  }
  .search__title {
    text-align: left;
    font-size: 36px;
  }
  .search__label {
    padding: 0;
    background: none;
    border: none;
    gap: 20px;
  }
  .search__input {
    padding: 20px 24px;
    border: 2px solid var(--link);
    border-radius: 4px;
  }
  .search__img {
    display: none;
  }
  .search__form-btn {
    display: block;
    width: 140px;
    border: none;
    border-radius: 4px;
    background: var(--accent);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  .search__description {
    font-size: 16px;
  }

  /* Service section */
  .service__item {
    padding: 60px 0;
    display: flex;
    gap: 40px;
  }
  .service__item:last-child {
    border: none;
  }
  .service__desktop-title {
    display: block;
  }
  .service__desktop-head {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
  }
  .service__item-title {
    margin-bottom: 23px;
    padding: 0;
    font-size: 25px;
    color: #000;
    cursor: default;
  }
  .service__item-title:hover {
    color: #000;
  }
  .service__item-title::after {
    display: none;
  }
  .service__desktop-body {
    width: 550px;
    margin: 0 auto;
    text-align: center;
  }
  .service__desktop-body-link {
    margin-right: 36px;
    line-height: 2rem;
  }
  .service__title {
    display: none;
  }

  .service__icon,
  .service__arrow {
    display: none;
  }
  .service__item-body {
    display: block;
  }

  .service__item-img {
    display: block;
  }

  /* Partners section */
  .partners__title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 55px;
  }
  .partners__list {
    flex-wrap: no-wrap;
    gap: 27px;
  }
  .partners__item {
    flex-basis: calc(100% / 8);
    margin-bottom: 33px;
    text-align: center;
  }

  /* Modal section */
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    padding: 20px 50px;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }

}
