@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --accent: #D30531;
  --link: #004685;
  --link-active: #569DDC;
  --link-underline: #468575;
  --placeholder: #00000075;
  --section-hr: #00468533;
  --text: #000000;
  --index: calc(1vw + 1vh);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--link-active);
}

.container {
  min-width: 320px;
  max-width: 799px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header section */
.header {
  padding: 9px 0;
}
.logo__img {
  max-width: 60%;
}

/* Search section */
.search {
  padding: 40px 0;
  background-image: url('../img/pic_main.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.search__title  {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}
.search__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 12px;
  background: #fff;
  border: 2px solid var(--link);
  border-radius: 4px;
}
.search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}
.search__img {
  width: 20px;
  height: 20px;
}
.search__description {
  color: #fff;
  font-size: 12px;
}

/* Service section */
.service {
  padding: 30px 0;
}
.service__title {
  margin-bottom: 17px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.service__item {
  border-bottom: 1px solid var(--section-hr);
}
.service__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  cursor: pointer;
}
.service__item-header-start {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.service__item-title {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--link);
}
.service__item-title::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 90%;
  height: 1px;
  background-color: var(--link);
}
.service__item-title:hover {
  color: var(--link-active);
}
.service__item-header-start:hover .service__item-title::after {
  background-color: var(--link-active);
}

.service__arrow {
  transition: 0.3s;
}
.service__arrow--opened {
  transform: rotate(180deg);
}

.service__item-body {
  display: none;
}
.service__item-body--active {
  display: block;
}

.service__item-text {
  padding: 6px 0 20px;
  font-size: 16px;
}
.service__item-head {
  text-transform: uppercase;
  color: var(--accent);
}

/* Partners section */
.partners {
  padding: 27px 0 33px;
}
.partners__title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 27px;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
}
.partners__item {
  width: 50%;
  margin-bottom: 33px;
  text-align: center;
}

/* Footer section */
.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: var(--section-hr);
  color: #999;
  text-align: center;
  font-size: 16px;
}

.footer__link  {
  text-decoration: none;
  color: var(--link-active);
  transition: 0.3s;
}
.footer__link:hover {
  color: var(--accent);
}

@media (max-width: 720px) {
  .header {
    font-size: .8rem;
  }
}
