@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
  url('../fonts/BebasNeueRegular.woff2') format('woff2'),
  url('../fonts/BebasNeueRegular.woff') format('woff');
  font-display: swap;
}

:root {
  --blue: #3596F5;
  --brown: #635854;
  --grey: #D7D7D7;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
}

/*-------------- Header ---------------*/
.header {
  background-color: var(--brown);
  border-bottom: 4px solid var(--blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}

.navbar__menu {
  flex-grow: 1;
  list-style:none;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 35px;
  max-width: 700px;
  text-align: center;
}
.navbar__item {
  flex-grow: 1;
}
.navbar__link {
  text-decoration: none;
  color: var(--white);
  transition: .3s ease;
}
.navbar__link:hover {
  border-bottom: 1px solid var(--white);
}

.navbar__contact {
  flex-shrink: 0;
  text-align: right;
}
.navbar__text {
  display:block;
  color: var(--white);
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.navbar__phone {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

/*-------------- Main ---------------*/
.main {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
}

.main__img {
  max-width: 70%;
  overflow: hidden;
}

.home-img {
  width: 100%;
  height: 100%;
}
.home-img path{
  opacity: 0;
  cursor: pointer;
  fill-opacity: .7;
}
.home-img path:hover{
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

/* Main info */
.main__info {
  flex-grow: 1;
  min-width: 30%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}

.main__title{
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--brown);
  margin: 0px;
}

.btn {
  cursor: pointer;
  outline: none;
  transition: .3s ease-in-out;
}

/* Counter */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter__btn {
  background-color: var(--white);
  border: none;
}
.counter__arrow--prev {
  transform: rotateX(180deg);
}
.counter__value {
  color: var(--brown);
  font-family: "Bebas Neue", sans-serif;
  font-size: 7.75rem;
}

.btn-view-flats {
  background-color: var(--white);
  border-radius: 6px;
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 16px 36px;
}
.btn-view-flats:hover {
  background-color: var(--blue);
  color: var(--white);
}

/*-------------- Modal -----------------*/

/*--------------- Footer ----------------*/
.footer {
  background-color: var(--grey);
  border-top: 4px solid var(--blue);

}
.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer__contact {
  text-align: left;
}
.footer__text {
  display:block;
  color: var(--brown);
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.footer__phone {
  color: var(--brown);
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.conditions {
}
.conditions__link {
  display: block;
  padding: 3px 10px;
  color: var(--brown);
  font-size: 16px;
  line-height: 19px;
  transition: .3 ease;
}
.conditions__link:hover {
  opacity: .7;
}

.social {
}
.social__link {
  text-decoration: none;
  margin: 0 0.7rem;
  transition: .3 ease;
}
.social__link:hover {
  opacity: .7;
}
.social__img {
  width: 20px;
  height: 20px;
}

.author {
  color: var(--brown);
  text-align: center;
}
.author__link {
  color: #928f8f;
  transition: .3s ease;
}
.author__link:hover {
  text-shadow: 0 0 2px var(--brown);
}

/*------------- Responsive -----------------*/
@media (max-width: 720px) {
  .container {
    padding: 10px;
  }

  .navbar {
    flex-wrap: wrap;
  }
  .navbar__menu {
    width: 100%;
    padding: 20px 0;
    order: 1;
  }

  .main {
    flex-direction: column;
  }
  .main__img {
    max-width: 100%;
  }

  .main__info {
    /*display: none;*/
  }

  .counter {
    flex-direction: row-reverse;
  }
  .counter__arrow--next {
    transform: rotateZ(90deg);
  }
  .counter__arrow--prev {
    transform: rotateZ(-90deg);
  }
  .counter__value {
    font-size: 3.75rem;
    margin: 0 3rem;
  }

  .btn-view-flats {
    margin-bottom: 30px;
  }

  .footer__block {
    flex-direction: column;
  }
}
